[project]
	description = Theme Spotlight app to find all of the coolest EvolveSMS and Talon for Twitter themes!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/László Szécsényi (szecs)
[access "refs/for/refs/*"]
	read = group user/László Szécsényi (szecs)
	push = group user/László Szécsényi (szecs)
	label-Code-Review = -2..+2 group user/László Szécsényi (szecs)
	label-Verified = -1..+1 group user/László Szécsényi (szecs)
	rebase = group user/László Szécsényi (szecs)
	removeReviewer = group user/László Szécsényi (szecs)
	submit = group user/László Szécsényi (szecs)
[access "refs/heads/*"]
	read = group user/László Szécsényi (szecs)
	create = group user/László Szécsényi (szecs)
	push = +force group user/László Szécsényi (szecs)
	pushMerge = group user/László Szécsényi (szecs)
[access "refs/tags/*"]
	push = +force group user/László Szécsényi (szecs)
	pushTag = group user/László Szécsényi (szecs)
	pushSignedTag = group user/László Szécsényi (szecs)
